.country-list {
  padding: 1rem;
  flex: 0 0 20%;
  max-width: 360px;
  background-color: var(--color-secondary);
  height: 100vh;
  overflow: auto;
  li {
    transition: 0.2s ease;
    list-style: none;
    margin: 0;
    padding: 0.3em 0.5rem;
    margin: 0 0 0 -0.5rem;
    cursor: pointer;
    svg {
      height: 1rem;
      margin-right: 0.5rem;
      vertical-align: top;
    }
    &.is-selected {
      font-weight: bold;
      background-color: var(--color-secondary-dark);
    }
  }
  ul {
    margin: 0;
    padding: 0;
  }
}
