.map-filter {
  text-align: left;
  display: flex;
  margin: 1rem 0 0;
  flex-wrap: wrap;
  &:first-of-type {
    margin-top: 0;
  }
  .title {
    margin: 0.275rem 0;
    flex-grow: 1;
    padding: 0 1rem 0 0;
  }
  &.rows {
    p {
      flex: 0 0 60%;
    }
  }
}

.filters {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 100%;
  justify-content: flex-start;
}

.filter {
  input {
    display: none;
  }
  label {
    text-align: center;
    width: 100%;
    display: inline-block;
    user-select: none;
    cursor: pointer;
    text-transform: capitalize;
  }
}

.options .filter {
  label {
    display: block;
    padding: 0.5rem 0.75rem;
    border: 1px solid var(--color-tertiary);
    margin-left: 0.5rem;
  }
  input:checked + label {
    background-color: var(--color-primary);
    color: var(--color-secondary);
  }
}

.toggle {
  .filters {
    flex: 0 0 40%;
    border: 1px solid white;
  }
  .filter {
    flex: 0 0 50%;
    &:first-of-type label {
      border-left: 0;
    }
  }
  label {
    padding: 0.25rem;
    border-left: 1px solid #fff;
  }

  input:checked + label {
    background: #fff;
    color: #333;
  }
}

.icons {
  label {
    opacity: 0.4;
    text-align: left;
    height: 3rem;
    width: 3rem;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
  input:checked + label {
    opacity: 1;
  }
  .filters {
    border: 0;
    flex: 1 0 100%;
    border: 0;
    margin-top: 0.5rem;
    // justify-content: flex-start;
    justify-content: space-between;
  }
  .filter {
    padding: 0 1rem 1rem 0;
    &:first-of-type {
      padding-left: 0;
    }
  }
}

.roadlines {
  background: var(--color-roadline-tarmac)
    repeating-linear-gradient(
      to bottom,
      transparent 0 4px,
      var(--color-roadline-white) 4px 11px
    )
    50%/5px 100% no-repeat;
  position: relative;
  &::before {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border-color: var(--color-roadline-white);
    border-style: solid;
    border-width: 0 5px;
    left: 0;
  }
  &.white-yellow::before,
  &.yellow-yellow::before {
    border-color: var(--color-roadline-yellow);
  }
  &.yellow-yellow {
    background: var(--color-roadline-tarmac)
      repeating-linear-gradient(
        to bottom,
        transparent 0 4px,
        var(--color-roadline-yellow) 4px 11px
      )
      50%/5px 100% no-repeat;
  }
  &.yellow-white {
    background: var(--color-roadline-tarmac)
      repeating-linear-gradient(
        to bottom,
        transparent 0 4px,
        var(--color-roadline-yellow) 4px 11px
      )
      51%/5px 100% no-repeat;
  }
  &.yellow_white-white {
    background: var(--color-roadline-tarmac)
      repeating-linear-gradient(
        to bottom,
        transparent 0 4px,
        var(--color-roadline-white) 4px 11px
      )
      42%/5px 100% no-repeat;
    &::after {
      display: block;
      content: '';
      height: 100%;
      width: 5px;
      background: var(--color-roadline-tarmac)
        repeating-linear-gradient(
          to bottom,
          transparent 0 4px,
          var(--color-roadline-yellow) 4px 11px
        )
        45%/5px 100% no-repeat;
      position: absolute;
      top: 0;
      left: calc(51%);
    }
  }
}
